body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fefdfb;
}
header {
     padding: 3rem 0 2rem;
    text-align: center;
    background: #ead8bc;
    border-bottom: 5px solid #e68a22;
}

header > div:not(.container) {
    padding: 3rem 0 4rem;
    width: min(100% - 2rem, 1040px);
    margin: 0   auto;
    background-color: #fefdfb;
}
img {
    display: block;
    margin: 0 auto;
    max-width: 90%;
    height: auto;
}

h1 {
    color: #393301;
    font-size: clamp(2.4rem, 7vw, 4.6rem); font-family:merriweather, serif;
    text-transform: uppercase;
    margin-top: 2rem;
}
h2 {
    margin: 0 0 1.25rem; text-align: center;
    font-size: 1.4rem; font-family:merriweather, serif;
    color: #4a291b;
}

.instructions {
    margin: 1rem 0;
    padding-left: 1.5rem;
     
}
.ingredients ul {
    margin: 0;
    padding-left: 1.5rem;
}

.steps li,
.ingredients li {
    margin-bottom: 1rem;
    
}

.instructions li::marker {
    color: #bb6b36;
    font-weight: 700;
}

.ingredients li::marker {
    color: #bb6b36;
}


p {
    color: #000000;
    line-height: 1.6;
    margin: 3rem 0;
     text-align: center;
}