body {
    font-family: 'Lora';
    background-color: #3b2600;
    margin: 0;
    padding: 0;
}
header {
    background-color: #7d603b;
    padding: 1rem;
}
.platos {
    color: white;
    font-size: 20px;
}

.bloque {
    display: flex;
    justify-content: center;
    gap: 30px;


}
nav ol {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav {
        font-size: 4rem;
        text-align: center;
}
nav li {
    margin: 0.1rem;
}
nav a {
    color: #ffffff;
    text-decoration: none;  

}
h1 {
    color: #a19364;
    font-family: merriweather, serif;
    text-align: center;
    margin-top: 2rem;
    font-size: 3rem;
}

main {
    padding: 2rem;
    text-align: center;
}
h2 {
    color: #ffffff;
    font-size: 2rem;
    text-align: center;
}
p {
    color: #ffffff;
    text-align: center;
    margin: 2rem;
    
    font-size: 1.50rem;
}
img.food-image {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}


