body {
    font-family: 'Lora';
    background-color: #3b2600;
    margin: 0;
    padding: 0;
}
header {
    background-color: #7d603b;
    padding: 1rem;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
nav li {
    margin: 0.1rem;
}
nav a {
    color: #ffffff;
    text-decoration: none;  
}
h1 {
    color: #a19364;
    font-family: merriweather, serif;
    text-align: center;
    margin-top: 2rem;
    font-size: 3rem;

}
p {
    color: #ffffff;
    text-align: center;
    margin: 2rem;
}
img.food-image {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

h2 {
    color: hsl(0, 8%, 97%);
    text-align: center;
    margin-top: 2rem;
    font-size: 2rem;
}
main {
    padding: 2rem;
text-align: center;
font-size: 5rem;

}



